/* Root styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 120%; /* Increase font size by 20% */
  background-color: #242424;
}

/* Navbar styles */
.nav {
  color: #ccc;
  background-color: #333;
  padding: 5px;
  text-align: center; 
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1000;
   /* Ensure the navbar stays on top of other content */
}

.nav-link {
  color: #fff;
  text-decoration: underline;
  margin-right: 20px;
  padding: 20px;
}

.nav .links a.active {
  font-weight: bold;
  text-decoration: underline;
}

.nav .links a:hover {
  color: #ccc;
}


/* Links container */
.links {
  font-size: 1.75em;
  display: flex;
  justify-content: center;
}

/* Navigation links */
.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

/* Active link styles */
.nav-link.active {
  font-weight: bold;
}


/* MemesLibrary styles */
.MemesLibrary {
  margin-top: 260px;
  position: relative;
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: space-around; /* Distribute space between items */
  padding: 20px; /* Add padding around the meme cards */
}

.MemeCard {
  /* border: 1px solid #ccc; Thin border around each meme card */
  padding: 10px; /* Add padding around each meme card */
  min-width: 300px; /* Set minimum width of each meme card */
  max-width: 500px;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange elements vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-between; /* Align items to be spaced evenly */
  margin-right: 10px; /* Add margin between meme cards */
  margin-bottom: 10px; /* Add margin at the bottom of each meme card */
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow effect */
}

.liked-memes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
 
}

.liked-memes img {
  height: 350px; /* Set height of images to 350px */
  width: auto;
  max-width: 350; /* Let the width adjust proportionally */
}
/* Apply box-shadow when hovered over */
.MemeCard:hover {
  box-shadow: 0 0 10px rgba(154, 152, 152, 0.3); /* Add box-shadow effect */
}

.MemeCard img {
  height: 350px; /* Set height of images to 350px */
  width: auto;
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
}

.MemeCard button {
  padding: 5px; /* Adjust padding for buttons */
  font-size: 14px; /* Set font size for buttons */
  margin-top: 2px; /* Add margin between buttons */
}

.button-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 5px;
}

.button-container button {
  margin-right: 10px; /* Add margin between buttons */
  padding: 10px 20px;
  background-color: #3b433b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #3b433b;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  
}

.search-container {
  height: 150px;
  margin-top: 89px;
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to the top of the page */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #333; /* Background color */
  padding: 10px 15px; /* Padding */
  width: 100%; /* Width of the page */
}

.Search {
  width: 60%; /* Width of the input field */
  padding: 8px; /* Padding */
  border: none; /* Remove default border */
  background-color: #fff; /* Background color */
  border-radius: 5px; /* Border radius */
  box-sizing: border-box; /* Include padding in width */
  outline: none; /* Remove focus outline */
  font-size: 1.25em; /* Increase text size */
  position: absolute; /* Absolute positioning */
  top: 50%; /* Align to the middle vertically */
  left: 50%; /* Align to the middle horizontally */
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
}

.Search::placeholder {
  color: #999; /* Placeholder color */
}

.Search:focus {
  border: 1px solid #007bff; /* Border color when focused */
}

/* Form CSS - Brento  */
.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; /* 75% of the viewport height */
}

h2 {
  font-size: 50px; /* Adjust font size as needed */
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px; /* Add some bottom margin for spacing */
  color:#f9f9f9; 
}
form {
  width: 30%; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form select {
  font-size: 1em;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form p {
  margin-top: 6px;
  margin-bottom: 80px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4297f1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #27323d;
}
