/* Root styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120%; /* Increase font size by 20% */
}

/* Navbar styles */
.nav {
  color: #ccc;
  background-color: #333;
  padding: 10px;
  text-align: center; /* Center the navbar */
  position: fixed; /* Position the navbar at the top of the viewport */
  top: 0; /* Align navbar to the top */
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}

.nav-link {
  display: flex;
  justify-content: space-between;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.nav .links a.active {
  font-weight: bold;
}

.nav .links a:hover {
  color: #ccc;
}

/* Hamburger icon styles */
.hamburger {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}

/* Hamburger icon bars */
.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Rotate the first and third bar to create an "X" shape when toggled */
.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Links container */
.links {
  display: flex;
  justify-content: center;
}

/* Navigation links */
.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

/* Active link styles */
.nav-link.active {
  font-weight: bold;
}

.memesLibrary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.memesLibrary img {
  width: 200px;
  height: 200px;
  margin: 10px; /* Adjust margin as needed */
}

/* Adjusted .memesLibrary CSS */
.memesLibrary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.memesLibrary img {
  width: 500px; /* Increase image size to 500px */
  height: 500px; /* Increase image size to 500px */
  margin: 10px; /* Adjust margin as needed */
}

body {
  padding-top: 50px; /* Add 50px padding to the top */
  padding-left: 50px; /* Add 50px padding to the left */
}