:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 120%; /* Increase font size by 20% */
    background-color: #242424;
  }

/* ------- NAVBAR--------- */

.navMenu {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: center; /* Center align flex items horizontally */
  background: linear-gradient(to bottom, #242424,rgba(0,0,0,0) 100%); /* Gradient background */
  padding: 10px 0; /* Add padding to create space for the gradient background */
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px; /* Adjust spacing here */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative; /* Add this for dot positioning */
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px); /* Position the dot below the link */
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover .dot {
  opacity: 1;
}


.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px); /* Position the dot below the link */
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover .dot {
  opacity: 1;
}


.nav {
  border-radius: 25px;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
	align-items: center;
	padding: 0 10px;
	margin: 50px  0 0;
  }
  
  
  
  .nav .links a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .nav .links a:hover {
    color: #ccc;
  }
  
  .MemeCardsContainer {
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow meme cards to wrap to the next row */
    justify-content: flex-start; /* Align meme cards to the start of the container */
  }
  .meme-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 20px;
  }

  .liked-meme-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

  }

  .LikedMemeCard {
    border: 1px solid #ccc; /* Thin border around the card */
    padding: 10px; /* Padding around the card */
    width: 300px; /* Set width of the card */
    max-width: 100%; /* Ensure the card does not exceed its container */
    border-radius: 5px; /* Rounded corners for the card */
    margin-bottom: 20px; /* Add margin at the bottom of each card */
    background-color: #fff; /* Background color of the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .MemeCard {
    /* border: 1px solid #ccc;  */
    padding: 10px; /* Padding around the card */
    width: 400px; /* Set width of the card */
    max-width: 100%; /* Ensure the card does not exceed its container */
    border-radius: 5px; /* Rounded corners for the card */
    margin-bottom: 20px; /* Add margin at the bottom of each card */
    background-color: #e1e1e1;
    /* background-color: #fff; Background color of the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  /* Smooth transition for box-shadow effect */

}

.MemeCard:hover {
    box-shadow: 0 0 10px #fddb3a; 
    transform: scale(1.05);/* Add box-shadow effect */
  }
  
.MemeCard img {
    
    width: 100%; /* Make the image fill the card horizontally */
    border-top-left-radius: 5px; /* Rounded corners for the top-left of the image */
    border-top-right-radius: 5px; /* Rounded corners for the top-right of the image */
}

.card-content {
    padding: 10px; /* Padding for the content within the card */
}

.button-container {
   margin-top: 10px;
    display: flex; /* Use flexbox layout */
    justify-content: space-around; /* Distribute space evenly between buttons */
    margin-bottom: 5px; /* Add margin at the bottom of the button container */
}

.button-container button {
    padding: 8px 15px; /* Adjust padding for buttons */
    font-size: 20px; /* Set font size for buttons */
    background-color: #62626355; /* Button background color */
    color: #282828; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Set cursor to pointer */
}

.button-container button:hover {
    background-color: #fddb3a; /* Button background color on hover */
}

.edit-container {
    margin-top: 10px; /* Add margin at the top of the edit container */
}

.edit-container input {
    width: calc(100% - 80px); /* Adjust input width */
    padding: 8px; /* Padding for the input */
    margin-bottom: 10px; /* Add margin at the bottom of the input */
    border: 1px solid #ccc; /* Input border */
    border-radius: 5px; /* Rounded corners for the input */
    box-sizing: border-box; /* Include padding in width */
}

.edit-container button {
    padding: 8px 15px; /* Adjust padding for buttons */
    font-size: 14px; /* Set font size for buttons */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; 
}

/* Styling for the page header */
.page-header {
    text-align: center; /* Center align the content */
    margin-top: 180px; /* Adjust margin from the top */
  }
  
  .page-header h1 {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 40px; /* Adjust margin bottom */
    margin-top: 180px;
    font-size: 1.75em;
    color: #fff;
  }
  
  .Search {
    width: 60%; /* Adjust width of the input field */
    padding: 8px; /* Adjust padding */
    border: none; /* Remove default border */
    background-color: #fff; /* Background color */
    border-radius: 5px; /* Border radius */
    box-sizing: border-box; /* Include padding in width */
    outline: none; /* Remove focus outline */
    font-size: 1.25em;
    text-align: center;
  }
  
  .Search::placeholder {
    color: #999; /* Placeholder color */
  }
  
  .Search:focus {
    border: 1px solid #007bff; /* Border color when focused */
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* 75% of the viewport height */
  }
  
  h2 {
    font-size: 50px; /* Adjust font size as needed */
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px; /* Add some bottom margin for spacing */
    color:#f9f9f9; 
  }
  form {
    width: 30%; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form select {
    font-size: 1em;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  form p {
    margin-top: 6px;
    margin-bottom: 80px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #4297f1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #27323d;
  }
  

  /* ------HOME----- */


.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    color: #fff
  }
  .home-container h2 {
    font-size: 3rem; /* Increase font size for header */
    margin-bottom: 20px; /* Add margin below the header */
  }
  
  .random-meme-container {
    width: 70%;
    max-width: 600px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    justify-content: center; /* Center the meme horizontally */
    align-items: center; /* Center the meme vertically */
    margin-bottom: 20px;
  }
  
  
  .random-meme-button {
    padding: 20px 80px; /* Adjust padding for the button */
    font-size: 1.5rem;
    background-color: #fddb3a;
    color: rgb(73, 71, 71);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  .random-meme-button:hover {
    box-shadow: 0 0 30px #fddb3a; 
    transform: scale(1.35); /* Darken background color on hover */
  }
  .random-meme-button:active {
    animation: crazyAnimation 0.5s infinite;
  }
  
  .random-meme-button:active {
    animation: overTheTopAnimation 0.5s infinite;
  }
  
  @keyframes overTheTopAnimation {
    0% {
      transform: scale(1) rotate(0) translateX(0);
      background-color: #fddb3a;
    }
    20% {
      transform: scale(1.1) rotate(-10deg) translateX(-5px);
      background-color: #ff6347;
    }
    40% {
      transform: scale(0.9) rotate(10deg) translateX(5px);
      background-color: #00bfff;
    }
    60% {
      transform: scale(1.1) rotate(-5deg) translateX(-5px);
      background-color: #7cfc00;
    }
    80% {
      transform: scale(0.9) rotate(5deg) translateX(5px);
      background-color: #ff69b4;
    }
    100% {
      transform: scale(1) rotate(0) translateX(0);
      background-color: #fddb3a;
    }
  }
  .home-meme {
    height: 420px; /* Increase height of images by about 20% */
    width: auto;
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
  }

  /* ----- CLIENT RENDERED MEME CARD ------  */

  .memeDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    padding: 20px; /* Add padding for spacing */
  }
  
  /* Style the MemeCard within the MemeDetail page */
  .memeDetail .MemeCard {
    max-width: 100%; /* Limit the maximum width of the MemeCard */
    max-height: 100%; /* Limit the maximum height of the MemeCard */
  }
  
  /* Adjust styles for the image inside the MemeCard */
  .memeDetail .MemeCard img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
  }
  
  /* Add any additional styles for buttons, tags, etc. */
  .memeDetail .button-container {
    margin-top: 20px; /* Add spacing below the image */
  }
  
  .memeDetail .edit-container {
    margin-top: 20px; /* Add spacing below the button container */
  }